<div class="container">
  <div class="card">
    <div class="card-body">
      <h3>People List</h3>
      <div *ngIf="error !== ''" class="row">
        <div class="alert alert-danger">{{error}}</div>
       </div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Height</th>
        <th scope="col">Mass</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of peoples">
        <td><a [routerLink]="['/person']" [queryParams]="{name: person.name}">{{person.name}}</a></td>
        <td>{{person.height}}</td>
        <td>{{person.mass}}</td>
        <td>{{person.gender}}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li [ngClass]="showPrevious() === true?'page-item':'page-item disabled'"><a class="page-link" (click)="onPrevious()"> <span aria-hidden="true">&laquo;</span></a></li>
      <li [ngClass]="showNext() === true?'page-item':'page-item disabled'"><a class="page-link" (click)="onNext()"> <span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </nav></div>
</div>
</div>
   <div *ngIf=showLoading id="loader" class="loader-overlay"><div align="center" class="loader"></div></div>
