<div class="container">
  <div class="card">
    <div class="card-body">
      <h3>Person Details</h3>
<div *ngIf=person>
    <p><strong>Name:</strong> {{person.name}}</p>
    <p><strong>Height:</strong> {{person.height}}</p>
    <p><strong>Mass:</strong> {{person.mass}}</p>
    <p><strong>Gender:</strong> {{person.gender}}</p>
    <p><strong>Homeworld:</strong> {{person.homeworld}}</p>
  </div>
  <a [routerLink]="['/home']" class="btn btn-primary">Back</a>
  </div></div>
</div>
<div *ngIf=showLoading id="loader" class="loader-overlay"><div align="center" class="loader"></div></div>
