.user-form{
    padding: 5px 0;
  }
  
  .user-form #form{
    background-color: rgba(255,255,255,1.0);
      max-width: 600px;
      margin: auto;
      padding: 50px 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .user-form .form-icon{
    text-align: center;
      background-color: #5891ff;
      border-radius: 50%;
      font-size: 40px;
      color: white;
      width: 100px;
      height: 100px;
      margin: auto;
      margin-bottom: 50px;
      line-height: 100px;
  }
  
  .user-form .item{
    border-radius: 20px;
      margin-bottom: 25px;
      padding: 10px 20px;
  }
  
  .user-form .create-account{
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: bold;
      background-color: #5791ff;
      border: none;
      color: white;
      margin-top: 20px;
  }
  

  
  
  @media (max-width: 576px) {
    body{
       font-size: 00.875rem;
    }
      .registration-form form{
          padding: 5px 10px;
      }
      .user-form #form{
          padding: 20px 20px;
      }
      .registration-form .form-icon{
          width: 70px;
          height: 70px;
          font-size: 30px;
          line-height: 70px;
      }
  }