<div class="container">
  <div class="user-form">
    <div  id="form">
    <div class="card">
      <div class="card-body">
        <h3>Login</h3>
        <form [formGroup]="myForm" (ngSubmit) = "submitForm(myForm.value)" >
            <div *ngIf="error !== ''" class="row">
                <div class="alert alert-danger">{{error}}</div>
               </div>
           <div class="row">
            <div class="input-group mb-3"><span class="input-group-text">Username</span>
                <input type="text" class="form-control" placeholder="Username" formControlName="username" /></div>
           </div>
           <div class="row">
            <div class="input-group mb-3"><span class="input-group-text">Password</span>
                <input type="password" class="form-control" placeholder="Username"  formControlName="password" /></div>
           </div>
           <div class="row">
                <button class="btn btn-primary" [disabled]="myForm.invalid" placeholder="Username" type="submit" >Login</button>
           </div>
        </form>
        </div>
      </div>  
    </div>  
    </div>
   </div>   
