<nav *ngIf="authService.isLoggedIn" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="assets/startwars.png" alt="Star Wars" height="35">
      </a>
      <div class="show collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex">
          <button class="btn btn-outline-success" type="button" (click)="logout()">Logout</button>
        </div>
      </div>
  </div>
  </nav>