/* You can add global styles to this file, and also import other style files */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 30%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loader-overlay {
      position:fixed;
       z-index:80;
  
      /* color with alpha channel */
      background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */
      
   width:100%;
      /* stretch to screen edges */
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }
  .card{
    margin-top: 10px;
  }